h1{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 64px;
    height: 400px;

}
.presentation {
    background-image: url('../images/zoro\ pfp.jpg');
}


.presentation__detenteur {
  font-weight: bold;
  font-size: 18px;   
}

.sujet__List {
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
    color: rgb(150, 200, 50);
}

.photo p{
    color: green;
}
